<div ng-include="'views/navbar.html'"></div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s4 m3 l3">
        <img style="max-height:200px;" class="circle responsive-img z-depth-1" src="/res/images/me.jpg">
      </div>
      <div class="col s12 m9 l9">
        <h2 class="header">About me</h2>
        <h3 class="light">and this website.</h3>
        <div class="divider"></div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <p class="flow-text light">
        I am <i>(almost)</i> 21 years old guy from Italy.<br />
        I'm actually studying Computer Science at University of Pisa.<br />
        <br />
        I made this website for all the people like me who whould like to have an easy and fast way to keep tracking Marvel's movies while <i>(re)</i>watching them.<br />
        If you wants to contact me, or if you find a bug, you can contact me at my email address: <a href="mailto:pitasi.antonio@gmail.com">pitasi.antonio@gmail.com</a>.<br />
        <br />
        Thanks for using my site. <span style="font-weight: 400;">Share it with your friends!</span> :)
      </p>
    </div>
  </div>
</div>

<div ng-include="'views/footer.html'"></div>
