<footer class="red darken-3 page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Marvel Movies Guide</h5>
        <p class="grey-text text-lighten-4">{{footer_text}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:pitasi.antonio@gmail.com">Send me a mail</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 All copyrights belong to their respective owners. Website made by Antonio Pitasi.
    </div>
  </div>
</footer>
