<div ng-include="'views/navbar.html'"></div>

 <div class="section no-pad-bot" id="index-banner">
  <div class="container" ng-controller="MainController">
    <div class="section">
      <div class="row">
        <h3>{{main_title}}</h3>
        <div class="col s12 m6" ng-repeat="movie in movies_list | orderBy:'+order'">

          <div ng-if="$odd" class="card medium hoverable">
            <div class="card-image">
              <img src="{{movie.backdrop_path}}">
              <span class="card-title">{{movie.order}}) {{movie.title}}</span>
            </div>
            <div class="card-content">
              <p class="card-caption light">{{movie.overview}}</p>
            </div>
            <div class="card-action">
              <a href="#/movie/{{movie.id}}/{{ln}}">{{read_more}}</a>
            </div>
          </div>

          <div ng-if="$even" class="card medium hoverable">
            <div class="card-image">
              <img src="{{movie.backdrop_path}}">
              <span class="card-title">{{movie.order}}) {{movie.title}}</span>
            </div>
            <div class="card-content ">
              <p class="card-caption light">{{movie.overview}}</p>
            </div>
            <div class="card-action">
              <a href="#/movie/{{movie.id}}/{{ln}}">{{read_more}}</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br><br>

  </div>
</div>

<div ng-include="'views/footer.html'"></div>
