<div ng-include="'views/navbar.html'"></div>

 <div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="section">
      <div class="row">
        <h3>{{home_title}}</h3>
        <h5 class="light">{{home_subtitle}}</h5>
        <div class="divider"></div>
      </div>
      <div class="row">
        <a class="red waves-effect waves-light btn-large" href="#/list/main/{{ln}}">{{main_list}}</a>
        <br /><br /><br />
        <a class="red waves-effect waves-light btn-large" href="#/list/xmen/{{ln}}">{{xmen_list}}</a>
      </div>
    </div>
    <br><br>

  </div>
</div>

<div ng-include="'views/footer.html'"></div>
