<div ng-include="'views/navbar.html'"></div>

<div class="section no-pad-bot" id="index-banner">
 <div class="container" ng-controller="MovieController">
   <div class="section">
     <div class="row">
       <div class="col s12 m4">
         <div class="z-depth-2 zoom_img">
           <a target="_blank" href="{{poster_large}}">
             <img class="responsive-img" src="{{poster}}" />
           </a>
         </div>
         <br /><br />
       </div>
       <div class="col s12 m1 l1">&nbsp;</div>
       <div class="col s12 m7">
         <div ng-repeat="genre in genres_list" class="chip">{{genre}}</div>

         <h3 class="header">{{order}}. {{title}} <i ng-if="is_viewed" class="material-icons">done</i></h3>
         <h5 class="light">{{tagline}}</h5>
         <div class="divider"></div>
         <p class="caption light">{{plot}}</p>

         <div class="row center">
           <a ng-if="previous !== undefined" href="{{previous}}" class="darken-3 red waves-effect waves-light btn-large"><i class="large material-icons">keyboard_arrow_left</i></a>
           <a target="_blank" href="{{imdb_link}}" class="darken-3 red waves-effect waves-light btn-large">{{imdb_text}}</a>
           <a ng-if="next !== undefined" href="{{next}}" class="darken-3 red waves-effect waves-light btn-large"><i class="large material-icons">keyboard_arrow_right</i></a>
         </div>

       </div>

     </div>

      <div class="fixed-action-btn" style="bottom: 70px; right: 48px;">
        <a ng-click="mark_movie(id, true)" ng-if="!is_viewed" class="btn-floating btn-large red">
          <i class="material-icons">add</i>
          <i class="material-icons">remove</i>
        </a>
        <a ng-click="mark_movie(id, false)" ng-if="is_viewed" class="btn-floating btn-large red">
          <i class="material-icons">remove</i>
        </a>
      </div>

   </div>
   <br><br>

 </div>
</div>

<div ng-include="'views/footer.html'"></div>
