<nav class="red darken-3" role="navigation">
  <div class="nav-wrapper container">
    <a href="#/{{ln}}" class="brand-logo">Marvel Movies</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{english_path}}">{{main_list}}</a></li>
      <li><a href="{{english_path}}">{{xmen_list}}</a></li>

      <li ng-if="ln != 'en'"><a href="{{english_path}}">English</a></li>
      <li ng-if="ln != 'it'"><a href="{{italian_path}}">Italiano</a></li>

      <li><a href="#/about">About</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <div class="container">
        <h4 class="grey-text text-darken-4">Men&ugrave;</h4>
        <div class="divider"></div>
      </div>
      <li><a href="{{english_path}}">{{main_list}}</a></li>
      <li><a href="{{english_path}}">{{xmen_list}}</a></li>

      <li ng-if="ln != 'en'"><a href="{{english_path}}">English</a></li>
      <li ng-if="ln != 'it'"><a href="{{italian_path}}">Italiano</a></li>
      <li><a href="#/about">About</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav({
      menuWidth: 400, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
  })
</script>
